<form [formGroup]="form" (ngSubmit)="onConnection()">

  <mat-form-field class="form-line">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Ex. a@a.com">

    @if (form.get('email')?.hasError('required')) {
      <mat-error>L'email est requis</mat-error>
    } @else if (form.get('email')?.hasError('email')) {
      <mat-error>Le format est invalide</mat-error>
    }

  </mat-form-field>

  <mat-form-field class="form-line">
    <mat-label>Mot de passe</mat-label>
    <input formControlName="password" type="password" matInput>
    <mat-error>Le mot de passe est requis</mat-error>
  </mat-form-field>


  <button class="form-line" type="submit" mat-raised-button>
    Se connecter
  </button>

</form>
