<h2>Products</h2>
<p>{{ products.length }} found in store</p>
<div class="container-card">
  @for (product of products; track $index) {

    <div class="card-self">
      <img src="https://picsum.photos/id/{{product.id+30}}/400/300">
      <h3>{{ product.name }}</h3>
      <mat-divider></mat-divider>
      <p>Description : {{ product.description }}</p>


      <div class="price_card">
        <p class="price">Price : {{ product.price }} €</p>
        <button mat-raised-button (click)="onClick(product)">Buy now!</button>
      </div>

      @if (product.label) {
        <span>{{ product.label }}</span>
      }

    </div>
  } @empty {
    <p>There's no products</p>
  }
</div>
