.container-card {
  width: 1720px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  .card-self {
    filter: grayscale(1);
    background-color: rgba(0, 128, 0, 0.15);
    width: 400px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 12px;

    &:hover {
      filter: grayscale(0);
    }

    &.damaged {
      background-color: rgba(255, 0, 0, 0.5);
    }

    img {
      border-radius: 12px;
    }

    h3 {
      text-align: center;
    }

  }

  .price {
    font-size: 3rem;
    font-weight: bolder;
  }

  .price_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .labels {
    mat-chip {
      display: flex;
      justify-content: space-between;
    }
  }

  .admin-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .description {
    height: 50px;
  }
}


.add-product {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


