<h2>Products</h2>
<button mat-fab extended class="add-product" routerLink='/add-product'>
  <mat-icon class="button-add-product">add</mat-icon>
  Add New
</button>
<p>{{ products.length }} found in store</p>
<div class="container-card">
  @for (product of products; track $index) {

    <div class="card-self" [class.damaged]="product.state.id == 5">
      <img SecuredImg mat-card-image src="{{ImgEnvironment.serveurUrl}}/pictures/{{product.pictureName}}">
      <h3>{{ product.name }}</h3>

      <mat-chip-set aria-label="Labels" class="labels">
        @for (label of product.labels; track $index) {
          <mat-chip [ngStyle]="{backgroundColor: label.color}">
            {{ label.name }}
          </mat-chip>
        }
      </mat-chip-set>

      <mat-divider></mat-divider>

      <p class="description">Description : {{ product.description }}</p>

      <div class="price_card">
        <p class="price">{{ product.price }} €</p>
        <button mat-raised-button (click)="onClick(product)">
          Buy now!
        </button>
      </div>

      @if (auth.role === 'ROLE_SELLER' || auth.role === 'ROLE_CHIEF') {
      <mat-divider></mat-divider>

      <div class="admin-buttons">
        <button mat-fab extended [routerLink]="['/edit-product',product.id]">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-fab extended>
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <button mat-fab extended>
          <mat-icon>share</mat-icon>
          Share
        </button>
      </div>
      }

    </div>
  } @empty {
    <p>There's no products</p>
  }
</div>

