html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-snack-bar-container {

  &.valid .mat-mdc-snackbar-surface {
    background-color: forestgreen;
  }

  &.error .mat-mdc-snackbar-surface {
    background-color: red;
  }

  &.warning .mat-mdc-snackbar-surface {
    background-color: orange;
  }

  &.info .mat-mdc-snackbar-surface {
    background-color: deeppink;
  }
}
