input {
  display: none;
}

.button {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;


  :hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
